<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png">

  </head>
  <body>
    {{>header}}
    <img class="portrait" src="./img/Emmanuel.jpg" alt="Bitmoji picture of Emmanuel" />
    <p>{{name}}</p>
    <p>Emmanuel Omosaku is a Software Engineer from Lagos, Nigeria. He is a Systems Engineering student of the University of Lagos. He enjoys playing table tennis, Teaching programming to teenagers and developing full stack web applications. I created this weather forecasting app, by using Express.JS, The node-fetch library, hbs Templating Engine - utilizing partials. He also loves anime...a bit too much😂 </p>
    {{>footer}}
  </body>
</html>